DA basic tools/usbabyname/database.sqlite
DA basic tools/usbabyname/NationalReadMe.pdf
DA basic tools/usbabyname/StateReadMe.pdf
DA basic tools/usbabyname/StateNames.csv
Geospatial analysis/Datasets/zomato_rawdata.sqlite

